/* sass/
// |
// |-- globals/              # /!\ Import all theses files in partials/_base.scss /!\
// |   |-- _typography.scss      # body text, headlines, font, em, rem, line-height, letter spacing
// |   |-- _colors.scss          # backgrounds, font colors, borders, grandients ...
// |   |-- _layout.scss          # container, grid, full screen section...
// |   |-- _functions.scss       # prefixers, loops, etc..
// |   |-- _fonts.scss           # all your font face
// |
// |-- partials/             # Partials : reususable parts of your website
// |   |-- _base.sass           # imports for all mixins + global project variables
// |   |-- _reset.scss          # reset
// |   |-- _header.scss         # header
// |   |-- _footer.scss         # footer
// |   |-- _reset.scss          # reset
// |   |-- example.scss         # example
// |
// |
// |-- views/             # Views: page of your website
// |   |-- page_base.sass       #
// |   |-- _home.scss           # home
// |   ...
// |
// |-- vendor/               # CSS or Sass from other projects
// |   |-- _bootsrap.scss
// |   ...
// |
// `-- style.scss            # each file at the root will render a css file, use one css file per page;
*/

@import 'partials/base';
@import 'partials/bootstrap';
@import 'views/home';

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.app__placeholder {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 100%;
  width: 100%;
  color: lightgrey;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pending {
  opacity: 0.5;
}
.img-fluid {
  width: 100%;
}

.app__wrapper {
  min-height: 80%;

  > div {
    min-height: 80%;
  }
}
